
@font-face {
    font-family: "Roboto Regular";
    src: url(../css/fonts/Roboto-Regular.ttf) format('truetype');
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

html {
    font-family: "Roboto Regular"
}