/*Nav Styles*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    text-transform: uppercase;
}

.left-side {
    display: flex;
}

nav > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #000000;

}

.nav-link-wrapper a:hover {
    color:#000000;
}
